@media only screen and (min-width: 715px) {
	.grid-2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 500px);
	}
}

@media only screen and (min-width: 1070px) {
	.grid-2 {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
	}
}