.header {
  & {
    position: relative;
    padding: 28px 24px;
    background-color: var(--pure-white);
  }

  input[type="checkbox"] {
    display: none;
    opacity: 0;
  }

  @media only screen and (max-width: 714px) {

    label {
      position: absolute;
      top: 20px;
      right: 18px;
      border: 0;
      width: 40px;
      height: 40px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        background-color: var(--pure-black);
        transform-origin: center;
        transition: transform .4s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      &::after {
        margin-top: 4px;
      }
    }

    .container {
      display: none;
      background-color: var(--pure-white);
    }

    input[type="checkbox"]:checked ~ {
      label {
        &::before {
          transform: rotate(45deg);
        }
  
        &::after {
          margin-top: -1px;
          transform: rotate(-45deg);
        }
      }

      .container {
        display: block;
        padding: 0 24px 28px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
      }
    }
  }

  @media only screen and (min-width: 715px) {
    & {
      padding: 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      flex: 1;
    }

    .container {
      flex: 20%;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

}